name: Stats Build

on:
  push:
    branches: [ main ]

jobs:
  build:
    if: github.repository == 'RobertoDiazEc/webBase'
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
      pull-requests: write
       
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      
      - name: Cambiar a la carpeta de scripts 
        run: cd ./redx_web

      - name: Install dependencies 
        run: | 
            python -m venv .venv 
            source .venv/bin/activate 
            pip install -r requirements.txt
            pip install reflex-chakra
            reflex init
            API_URL=https://api-redxsoluciones.koyeb.app:8000 reflex export --frontend-only
            rm -rf public
            unzip frontend.zip -d public
            rm -f  frontend.zip
            deactivate  

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update static build
          commit_user_name: RobertoDiazEc [github action]
          commit_user_email: robertodiazec@gmail.com
          commit_author: robertodiaz
